<div ng-controller="AccountsController">
    <table class="table table-hover table-striped table-bordered">
      <caption>Счета</caption>
      <thead>
          <tr>
            <th> Название </th>
            <th> Баланс </th>
            <th> Валюта </th>
            <th> Операции </th>
          </tr>
      </thead>
      <tbody>
          <tr ng-repeat="acc in accounts">
            <td> {{ acc.name }} </td>
            <td> {{ acc.balance }} </td>
            <td> {{ acc.currency.name }} </td>
            <td width="25%"> <a ng-click="actualize = !actualize">Актуализировать</a>
                <div ng-show="actualize">
                    <form class="form-inline">
                        <input type="text" class="input-medium" placeholder="Актуальный баланс" />
                        <button onclick="alert('not implemented')">OK</button>
                    </form>
                </div><br><a onclick="alert('not implemented')">Деактивировать</a><br>
                <a ng-click="del_account(acc.id)">Удалить</a> </td>
          </tr>
      </tbody>
    </table>

    <a ng-click="add_block = !add_block">Добавить счет</a><br /><br />
    <div class="well span6" ng-show="add_block">
        <label>Добавление счета</label>
        <form>
            <input type="text" ng-model="account_name" class="input-large" placeholder="Название" />
            <input type="text" ng-model="start_balance" class="input-medium" placeholder="Начальный баланс" />
            <select ng-model="currency" class="input-small" ng-options="item.id as item.name for item in currency_list" />
            <br />
            <button ng-click="add_account()">Добавить</button>
        </form>
    </div>
</div>